/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ##################################################

  Variables
  
##################################################### */

.inicio {
  --color-portada-texto: #fff;
  --foto-portada: url("../img/Inicio/space-8571725_1920.jpg");

  --footer-fondo: #000;
  --footer-color: #fff;
}
.portafolio-pag {
  --color-portada-texto: #fff;
  --foto-portada: url("../img/Inicio/space-8571725_1920.jpg");

  --footer-fondo: #000;
  --footer-color: #fff;
}
body.inicio, body.portafolio-pag {
  background-color: #000;
}


/* ##################################################

  Body
  
##################################################### */

body {
  font-family: "Open Sans", sans-serif;
}

.loader, .recarga {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;

  width: 100%;
  height: 100%;

  background-color: #111c !important;
  backdrop-filter: blur(50px);
  color: #fff;

  text-align: center;
}
  .recarga {
    display: none;
  }
.loader h1, .recarga h1 {
  margin-bottom: 0;
}
.loader h3, .recarga h3 {
  margin-top: -40px;
  font-weight: 100;
}

/* ##################################################

    Menu-Lateral

##################################################### */

.menu-lateral .cont-menu-lateral {
  background-color: #000000e0;
  color: #fff;
  border: 1px solid #999;
  border-radius: 2px !important;
  opacity: 20%;
}
.menu-lateral-visible {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: #000 !important;
  opacity: 100% !important;
}
/* ##################################################

  Barra
  
##################################################### */

header {
  position: absolute;

  top: 0;
  left: 0;

  height: auto;
  width: 90%;

  margin: 0;
  padding: 10px 5%;

  z-index: 998;

  /*border-top: 1px solid #000;*/

  /*background-color: #000;*/
}
.header-scroll {
  position: fixed;
}

.scroll-down .header-scroll {
  /*top: -100px;*/
  padding: 2px 5%;
  background-color: #111c !important;
  backdrop-filter: blur(10px);
  /*opacity: 50%;*/
  transition: .5s ease-out all;
}
.scroll-up .header-scroll {
  background-color: #111c !important;
  backdrop-filter: blur(10px);
  transition: .5s ease-out all;
}
  .scroll-down .header-scroll .nav .titulo span {
    display: none;
  }
  /*.scroll-down header .nav nav {
    display: none;
  }*/

header .nav {
  height: auto;
  width: auto;

  padding: 0;

  margin: auto 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
  header .nav .titulo {
    font-size: 1.5em;

    min-width: 150px;

    color: var(--color-portada-texto);

    margin: 0;
    padding: 0;

    transform: scale(180%) translate(-40%, 300%) rotate(90deg);
    /*transform: scale(150%) translate(10%, 10%) rotate(90deg);*/
    transition: .5s ease-out transform;
  }
    .scroll-up header .nav .titulo, .scroll-down header .nav .titulo {
      transform: none;
      transition: .5s ease-out transform;
    }
    header .nav .titulo a {
      text-decoration: none;
    }
  header .nav .sub-titulo {
    font-size: 1em;

    min-width: 150px;

    color: var(--color-portada-texto);

    margin: 0 10px;
    padding: 0;
  }
  header .nav nav {
    width: auto;

    font-size: 1em;

    margin-left: auto;
    padding: 0;
  }
    header .nav nav ul {
      margin: 0;
      padding: 0;
    }
      header .nav nav ul li {
        display: inline-block;
        margin: 0 10px;
        padding: 0;
      }
        header .nav nav ul li a {
          text-decoration: none;
          color: var(--color-portada-texto);
          opacity: 50%;
        }
        header .nav nav ul li.h-btn a {
          opacity: 100%;
        }
          header .nav nav ul li:hover a {
            text-decoration: underline;
            opacity: 100%;
          }

          header img {
            border-radius: 0;
          }
          header .h-btn a {
            cursor: pointer;
            border: .5px solid #fff;
            padding: 5px 10px;
            transition: .2s ease-out all;
          }
          header .h-btn a:hover {
            text-decoration: none;
            transition: .2s ease-out all;
            border-bottom: 2px solid #fff;
          }
          header .h-btn a:active {
            text-decoration: none;
            transition: .2s ease-out all;
            border-bottom: 10px solid #fff;
            border-right: 5px solid #fff;
          }
  header .menu {
    position: fixed;
    top: 0;
    left: 0;

    z-index: -999;

    width: 100%;
    height: 100%;

    background-color: #111c !important;
    backdrop-filter: blur(20px);
    color: #fff;
  }
  .stopscrolling {
    overflow: hidden;
  }
  header .menu .menu-caja {
    padding: 50px 10%;
  }
    header .menu .menu-caja .caja-menu {
      border-right: 1px solid #fff;
      padding: 0 20px;
    }
  header .menu .menu-caja ul, header .menu .menu-caja li {
    margin: 0;
    padding: 0;
  }
  header .menu .menu-caja li {
    display: block;
    font-size: 2em;
    margin: 10px 0;
  }
  header .menu .menu-caja li p {
    opacity: 50%;
    font-size: .5em;

    margin-top: 0;
    margin-left: 20px;

    transition: .2s ease-out all;
  }
    header .menu .menu-caja li:hover p {
      opacity: 90%;

      transform: scale(110%);

      transition: .2s ease-out all;
    }

  header .menu .menu-caja .redes {
    margin-left: auto;
    text-align: right;
  }

  header .menu .menu-caja .redes li {
    font-size: 1.4em;
  }
/* ##################################################

  Portada
  
##################################################### */

.portada {
  height: 100vh;
  width: 100%;

  padding-top: 0;

  background-color: #000;

  color: #fff;
}
.inicio .portada {
  background-image: var(--foto-portada);
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #fff;
  color: #fff;
}
  .miedo .portada .centro {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-image: var(--foto-portada);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
  }
  .inicio .portada .centro {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    /*filter: url("../img/Inicio/skull-5850552_1920.png");*/
    /*filter: invert(80%);*/

    /*-webkit-backdrop-filter: invert(80%);
    backdrop-filter: invert(80%);*/
  }
    .inicio .portada .centro .caja {
    }
  .vas .portada .centro {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-image: var(--foto-portada);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    
  }
  
  .inicio .portada .centro .caja .titulo {
    width: auto;
  }
  .miedo .portada .centro .caja .titulo {
    width: 100%;
  }
    .miedo .portada .centro .caja, .vas .portada .centro .caja {
      text-align: center;
      margin-top: auto;
      margin-bottom: 20px;
    }
    .inicio .portada .centro .caja {
      margin-top: auto;
      margin-left: 20px;
      text-align: left;
      /*display: flex;
      justify-content: center;
      align-items: center;*/
    }
      .inicio .portada .centro .caja .titulo-1 {
        font-size: 1.2em;
        color: #fff;

        margin-top: -20px;
        /*writing-mode:vertical-lr;
        text-orientation:upright;*/
      }
      .inicio .portada .centro .caja .titulo-1 p {
        margin-left: -20px;
      }
      .miedo .portada .centro .caja .titulo-1, .vas .portada .centro .caja .titulo-1 {
        font-size: 1em;
      }
      .inicio .portada .centro .caja .titulo-2 {
        font-size: 15em;
        color: #fff;

        font-weight: 100;
        /*writing-mode:vertical-lr;
        text-orientation:upright;*/
      }
      .miedo.portada .centro .caja .titulo-2, .vas .portada .centro .caja .titulo-2 {
        font-size: 1.5em;
      }
      .inicio .portada .centro .caja .titulo-3 {
        font-size: 2.8em;
        margin-top: -80px;
        /*writing-mode:vertical-lr;
        text-orientation:upright;*/
      }
      .miedo .portada .centro .caja .titulo-3, .vas .portada .centro .caja .titulo-3 {
        font-size: 3.5em;
      }

/* ##################################################

  Secciones Cahuich
  
##################################################### */

.seccion-1 {
  background-color: #111 !important;
  height: 100vh;

  text-align: justify !important;
}
.seccion-1 .cont-1 {
  width: 40%;
  margin-left: auto;
}
/* ##################################################
  Seccion portafolio
##################################################### */

.titulo-portafolio {
  font-size: 2em;
  padding: 20px 5%;
    
  position: sticky;
  top: 50px;
  z-index: 2;
}
.seccion-portafolio {
  margin: 0;
  padding: 50px 0;
  margin-left: 0px;

  background-color: #000;
  color: #fff;
  
  z-index: 1;
}

.seccion-portafolio .centro-no {
  padding: 0;
  padding-left: 30%;
  padding-right: 20%;
  width: auto;
}

.ts {
  background-color: #000 !important;
  background-image: url("../img/Inicio/spaceship-6997031_1920 2.jpg");
    background-position-x: left;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;

  /*filter: grayscale(100%);*/

  color: #fff !important;

  text-align: right;
  height: 100vh;
}
.ts .caja-2 {
  margin-left: auto;
  margin-bottom: auto;

  position: sticky;
  top: 50px;
  right: auto;
}

.anuncio-portafolio {
  background-color: #000 !important;
  background-image: url("../img/Inicio/portafolio-fondo 2.jpeg");
    background-position-x: left;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    /*backdrop-filter: blur(20px);*/

  border-radius: 10px;
  margin: 20px 5%;
  margin-bottom: 50px;

  color: #fff;
}
.anuncio-portafolio .fondo {
  height: 80vh;

  background-color: #0000006e;
  backdrop-filter: blur(10px);
  transition: .5s ease-out all;

  border-radius: 10px;
}
.anuncio-portafolio .centro {
}
.anuncio-portafolio .caja-auto {
  margin-top: auto;
}

.creditos {
  height: auto !important;

  padding: 50px 0 !important;

  background-color: #000 !important;

  color: #fff !important;
}
/* ##################################################

  Portafolio
  
##################################################### */

/* ##################################################

  Contenido
##################################################### */

.portafolio-contenido {
  padding: 0 4.5%;
  margin: 0;
  background-position-x: left;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    backdrop-filter: blur(20px);
    background-image: url("../img/Inicio/portafolio-fondo-2.png");
}

.portafolio-contenido .portafolio-contenido-cont {
  padding: 0;
  margin: 0;
}

.portafolio-contenido .pc-cajas {
  background-color: #000 !important;
    background-position-x: left;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    backdrop-filter: blur(20px);
  
  margin: 20px 10px;

  border-radius: 10px;

  color: #fff;
  transition: .5s ease-out all;

  height: 400px;

  cursor: pointer;
}
  .portafolio-contenido .pc-cajas .centro {
    background-color: #00000080;
    /*backdrop-filter: blur(20px);*/
    border-radius: 10px;
    transition: .5s ease-out all;
  }
    .portafolio-contenido .pc-cajas .centro:hover {
      /*backdrop-filter: blur(0px);*/
      background-color: transparent;
      transition: .5s ease-out all;
    }
      .portafolio-contenido .pc-cajas .centro:hover * {
        opacity: 10%;
      }
  .portafolio-contenido .pc-cajas .caja-auto {
    margin: 0 5%;
    margin-top: auto;

    margin-right: auto;
    transition: .5s ease-out all;
  }
.portafolio-contenido .pc-cajas.ngosoufei-com {
  background-image: url("../img/trabajos-independientes/ngosoufei-com.jpeg");
}
.portafolio-contenido .pc-cajas.tipo-5 {
  background-image: url("../img/trabajos-independientes/Tipo-5.jpeg");
}
.portafolio-contenido .pc-cajas.cartel-1 {
  background-image: url("../img/trabajos-independientes/cartel-1.jpeg");
}
.portafolio-contenido .pc-cajas.blog {
  background-image: url("../img/Inicio/ai-generated-8406468_1920.jpeg");
}

/* ##################################################
  titulo de areas
##################################################### */
.titulo-col {
  height: 100vh;
  width: 90%;

  padding: 50px 5%;

  display: flex;
  justify-content: center;
  align-items: center;

  writing-mode:vertical-lr;
  text-orientation:upright;
}
.titulo-col .chino {
  font-size: 5.5em;
  margin-right: 1px;
  margin-left: 0;
}
.titulo-col p {
  margin-left: 1px;
  margin-right: 0;
  font-size: 1.4em;
}

/* ##################################################
  Inicio seccion 1
##################################################### */

.inicio .inicio-s-1 {
  padding: 50px 2%;
  height: auto;
}
.inicio .inicio-s-1 .caja {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
.inicio .inicio-s-1 .caja .interior {
  writing-mode:vertical-rl;
  text-orientation:upright;

  margin: 20px auto;
}
  .inicio .inicio-s-1 .caja .interior h1 {
    font-size: 2.5em;
  }
  .inicio .inicio-s-1 .caja .caja-center {
    margin-top: auto;
  }

.inicio .inicio-s-2 {
  padding: 50px 2%;
  height: auto;
}
  .inicio .inicio-s-2 .texto {
    padding: 0 5%;
  }
  .inicio .inicio-s-2 img {
    border-radius: 0px;
    border: 2px solid #f3f3f3;
  }

/* ##################################################
  Footer
##################################################### */

footer {
  padding: 50px 10%;
}
.inicio footer {
  background-color: #000;

  color: #fff;
}
.miedo footer {
  background-color: #000;

  color: #fff;
}
  footer .copy {
    text-align: center;
  }

.footer-2 {
  padding: 50px 10% 10px 10%;
}
.footer-2 .footer {
  padding: 0 10%;
}
.footer-2 {
  background-color: var(--footer-fondo);

  color: var(--footer-color);

}
.footer-2 p {
  opacity: 30%;
  transition: .2s ease-out all;
}
.footer-2 p:hover {
  opacity: 100%;
  transition: .2s ease-out all;
}
footer .copy {
  text-align: center;
}

.error {
  font-weight: 100;
  background-color: yellow;
  color: #000;
  width: auto;
  margin: 0 auto;
  border-radius: 10px;
}

/* ##################################################

  framework
  
##################################################### */

.sombras .creditos {
  background-color: #000;
  color: #fff;
}

.sec {

}
.sec-basica {
  padding: 50px 10%;
}
.sec-basica-15 {
  padding: 50px 15%;
  text-align: center;
}
.sec-basica-20 {
  padding: 50px 20%;
  text-align: center;
}
.sec-basica-25 {
  padding: 50px 25%;
  text-align: center;
}
  .sec .sub-titulo {
    font-weight: normal;
    margin-bottom: 5px;
  }
  .sec .titulo {
    margin-top: 0;
  }

.sec-color-1 {
  background-color: #000;

  color: #fff;
}
.sec-color-2 {
  background-color: #111;

  color: #fff;
}


.creditos {
  padding: 0px 20%;

  height: 100vh;

  text-align: center;
}
.tecnico {
  font-family: serif;
  font-weight: 100;
}

/* ##################################################

  cajas
  
##################################################### */


@media only screen and (max-width: 1250px) {
  header .nav .titulo {
    transform: scale(180%) translate(-35%, 300%) rotate(90deg);
  }
}
@media only screen and (max-width: 1050px) {
  .inicio .inicio-s-1 .centro {
    display: block !important;
  }
  header .nav .titulo {
    width: auto;
    max-width: auto;
    min-width: auto;
  }

}

@media only screen and (max-width: 850px) {
  /* Style adjustments for viewports that meet the condition */
  /*.caja, .caja-2, .caja-3, .caja-4, .caja-5, .caja-6, .contra-caja-2, .contra-caja-3, .contra-caja-4, .contra-caja-5, .contra-caja-6, .caja-center, .caja-d {
    display: block;
    width: 100%;
  }*/
  header .nav .titulo {
    transform: scale(180%) translate(-30%, 300%) rotate(90deg);
  }

  header .nav nav li.no {
    display: none !important;
  }

  footer * {
    text-align: center;
  }
  .seccion-basica, .seccion-basica-2 {
    padding: 50px 10% !important;
    text-align: left !important;
  }
  .seccion-basica p, .seccion-basica-2 p {
    text-align: justify !important;
  }

  .vas .seccion-vas-1 {
    padding: 50px 10%;
  }
  .vas .exhibidor {
    text-align: center !important;
  }
  .vas .exhibidor-d .caja-3 {
    text-align: center !important;
  }
  .vas .exhibidor p, .vas .exhibidor-d p {
    text-align: center !important;
  }

  .seccion-portafolio {
    margin: 0;
    padding: 0;
  }
    .seccion-portafolio .titulo-portafolio {
      font-size: 1.5em;
      position: relative;
      top: auto;
    }
    .seccion-portafolio .centro-no {
      padding: 0 5%;
      width: auto;
    }

  .ts {
    text-align: center;
    height: 100vh;
  }
  .ts .caja-2 {
    margin: 0;
  }
}

@media only screen and (max-width: 560px) {

  header .nav .titulo {
    transform: scale(160%) translate(-30%, 300%) rotate(90deg);
  }

  .menu-lateral span {
    display: none;
  }
  .seccion-aviso {
    display: none;
  }

  header {
    /*width: auto;
  width: 90%;

  margin: 0;
  padding: 10px 5%;*/
  }
  header .nav {
  }
  header .nav .titulo {
  }
  header .nav .sub-titulo {
  }
  header .nav nav {
  }

  header .menu .menu-caja li p {
    display: none;
  }

  .inicio .portada .centro .caja .titulo-1 a {
    display: block;
  }

  .inicio .portada .centro .caja .titulo-2 {
    font-size: 10em;
  }
  .inicio .portada .centro .caja .titulo-3 {
    font-size: 2.8em;
    margin-top: -50px;
  }

  .seccion-1 {
    height: auto;
  
    text-align: justify !important;
  }
  .seccion-1 .cont-1 {
    width: auto;
  }

  .inicio .inicio-s-1 .caja .interior h1 {
    font-size: 1.5em !important;
  }
  .inicio .inicio-s-1 .caja .caja-auto {
    padding: 0 5%;
  }
}
@media only screen and (max-width: 350px) {

  header .nav .titulo {
    transform: scale(130%) translate(-35%, 300%) rotate(90deg);
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

